body {
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-one {
    background-color: #1F2937;
    padding: 0 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
}

.header-links {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a, .subtext {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.title-one {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 8px;
}

.hero {
    flex-basis: 450px;
}

.content-one {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

#ziv {
    width: 500px;
}

.hero-button {
    margin-top: 16px;
    color: white;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 24px;
    border: none;
    border-radius: 10px;
}

.images {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.ziv {
    width: 175px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.title-two {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 32px 0;
}

.photo-desc {
    text-align: center;
    color: rgb(117, 117, 117);
    margin-top: 8px;
}

.section-two {
    margin-bottom: 100px;
}

.section-three {
    background-color: #e5e7eb;
    display: flex;
    padding: 150px 0;
    justify-content: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    flex-basis: 800px;
}

.credit {
    text-align: end;
    font-weight: bold;
    font-size: 24px;
}